build/
data/
data-alloy/
dist/
internal/web/ui/node_modules/
internal/web/ui/dist/
packaging/windows/LICENSE
packaging/windows/agent-windows-amd64.exe
cmd/grafana-agent/Dockerfile
alloy
collector/data-alloy/
