extensions:
  basicauth/grafana_cloud:
    client_auth:
      username: "${env:GCLOUD_INSTANCE_ID}"
      password: "${env:GCLOUD_RW_API_KEY}"
  opamp:
    instance_uid: "${env:INSTANCE_UID}"
    server:
      http:
        endpoint: "${env:GCLOUD_FM_URL}/v1/opamp"
        auth: basicauth/grafana_cloud
    capabilities:
      accepts_remote_config: true
      reports_remote_config: true


service:
  telemetry:
    logs:
      level: "debug"
      encoding: "console"
  extensions: [basicauth/grafana_cloud, opamp]
