extensions:
  basicauth/grafana_cloud:
    client_auth:
      username: "${env:GCLOUD_INSTANCE_ID}"
      password: "${env:GCLOUD_RW_API_KEY}"
  opamp:
    instance_uid: "${env:INSTANCE_UID}"
    server:
      http:
        endpoint: "${env:GCLOUD_FM_URL}/v1/opamp"
        auth: basicauth/grafana_cloud

service:
  extensions: [basicauth/grafana_cloud, opamp]
  telemetry:
    metrics:
      readers:
        - periodic:
            exporter:
              otlp:
                protocol: http/protobuf
                endpoint: "${env:GCLOUD_OTLP_URL}/v1/metrics"
                headers:
                  - name: Authorization
                    value: "Basic ${env:GCLOUD_BASIC_AUTH}"
    logs:
      processors:
        - batch:
            exporter:
              otlp:
                protocol: http/protobuf
                endpoint: "${env:GCLOUD_OTLP_URL}/v1/logs"
                headers:
                  - name: Authorization
                    value: "Basic ${env:GCLOUD_BASIC_AUTH}"
    resource:
      service.instance.id: "${env:INSTANCE_UID}"
