alloy:
  secret:
    create: true
    content: |
      logging {
        level  = "info"
        format = "logfmt"
      }

      discovery.kubernetes "pods" {
        role = "pod"
      }

      discovery.relabel "pods" {
        targets = discovery.kubernetes.pods.targets

        rule {
          action        = "labelmap"
          regex         = "__meta_kubernetes_pod_label_(.+)"
          replacement   = "k8s_pod_label_$1"
        }
      }

      prometheus.scrape "pods" {
        targets    = discovery.relabel.pods.output
        forward_to = [prometheus.remote_write.default.receiver]
      }

      prometheus.remote_write "default" {
        endpoint {
          url = "https://prometheus.example.com/api/v1/write"
          basic_auth {
            username = "my-username"
            password = "my-secret-password"
          }
        }
      }
