[Unit]
Description=Vendor-neutral programmable observability pipelines.
Documentation=https://grafana.com/docs/agent
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=grafana-agent
Environment=HOSTNAME=%H
Environment=AGENT_DEPLOY_MODE=rpm
EnvironmentFile=/etc/sysconfig/grafana-agent
WorkingDirectory=/var/lib/grafana-agent
ExecStart=/usr/bin/grafana-agent run $CUSTOM_ARGS --storage.path=/var/lib/grafana-agent $CONFIG_FILE
ExecReload=/usr/bin/env kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
