<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?define ComponentRules="OneToOne"?>
  <?define SourceDir="..\..\..\..\dist.temp"?>
  <Fragment>
    <ComponentGroup Id="AlloyService">
			<Component Directory="INSTALLLOCATION">
				<File Source="$(var.SourceDir)\alloy-service-windows-amd64.exe" KeyPath="yes" />

				<ServiceInstall
					Id="ServiceInstall"
					Account="LocalSystem"
					ErrorControl="normal"
					Name="Alloy"
					Start="auto"
					Type="ownProcess"
					Vital="yes"
					Description="Alloy by Grafana Labs"
					DisplayName="Alloy">
					<util:ServiceConfig
							FirstFailureActionType="restart"
							SecondFailureActionType="restart"
							ThirdFailureActionType="restart"
							RestartServiceDelayInSeconds="1"
					/>
				</ServiceInstall>

				<ServiceControl
						Id="ServiceControl"
						Name="Alloy"
						Start="install"
						Stop="both"
						Remove="both"
						Wait="yes"
				/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>