.legend {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 10px;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 15px;
}

.colorBox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}
