.moduleRow {
  cursor: pointer;
  background-color: #f5f5f5;
  line-height: 2.5;
}

.moduleRow:hover {
  background-color: #e5e5e5;
  line-height: 2.5;
}

.moduleHeader {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.expandIcon {
  margin-right: 8px;
  font-size: 12px;
}

.moduleId {
  font-weight: 500;
}

.componentRow {
  background-color: white;
  line-height: 2.5;
}

.graphButtonColumn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  padding-right: 16px;
}

.graphButtonWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
