# TODO what happens if we fork the builder instead
# TODO look into workspace files (collector go.mod is actually the "root")
dist:
  module: github.com/grafana/alloy/otelcol
  name: alloy
  description: Alloy OTel Collector distribution.
  # TODO: this can be generated too
  version: v1.11.0
  output_path: .

extensions:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/jaegerremotesampling v0.134.0
  - gomod: github.com/grafana/alloy/extension/alloyflow v0.1.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension v0.134.0
  - gomod: go.opentelemetry.io/collector/extension/zpagesextension v0.134.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.134.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.134.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter v0.130.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.134.0

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.134.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver v0.130.0

connectors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/countconnector v0.134.0

replaces:
  # Local modules.
  # TODO: what does this hierarchy look like now / what could it look like
  - github.com/grafana/alloy => ../
  - github.com/grafana/alloy/syntax => ../syntax
  - github.com/grafana/alloy/extension/alloyflow => ../extension/alloyflow

  # TODO: add components that exist in flow engine (inherit replaces)
  # Replace directives required for additional OCB components added above to be compatible with the rest of Alloy's dependencies.
  - github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheusremotewrite => github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/prometheusremotewrite v0.130.0
  - github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter => github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter v0.130.0
  
  # Replace directives copied from main go.mod of Alloy
  # TODO: is there a better way to populate this? go:generate should be able to do this before we use OCB.
  - go.opentelemetry.io/collector/featuregate => github.com/grafana/opentelemetry-collector/featuregate v0.0.0-20240325174506-2fd1623b2ca0
  - github.com/fsnotify/fsnotify => github.com/fsnotify/fsnotify v1.7.0
  - github.com/prometheus/prometheus => github.com/grafana/prometheus v1.8.2-0.20251030104821-c9e0b31e9aeb
  - gopkg.in/yaml.v2 => github.com/rfratto/go-yaml v0.0.0-20211119180816-77389c3526dc
  - github.com/Azure/azure-sdk-for-go => github.com/Azure/azure-sdk-for-go v68.0.0+incompatible
  - github.com/Azure/azure-storage-blob-go => github.com/MasslessParticle/azure-storage-blob-go v0.14.1-0.20240322194317-344980fda573
  - github.com/gocql/gocql => github.com/grafana/gocql v0.0.0-20200605141915-ba5dc39ece85
  - github.com/grafana/regexp => github.com/grafana/regexp v0.0.0-20240518133315-a468a5bfb3bc
  - github.com/hashicorp/memberlist => github.com/grafana/memberlist v0.3.1-0.20220714140823-09ffed8adbbe
  - github.com/influxdata/go-syslog/v3 => github.com/leodido/go-syslog/v4 v4.2.0
  - github.com/thanos-io/objstore => github.com/grafana/objstore v0.0.0-20250210100727-533688b5600d
  - github.com/google/cadvisor => github.com/grafana/cadvisor v0.0.0-20240729082359-1f04a91701e2
  - github.com/prometheus-community/postgres_exporter => github.com/grafana/postgres_exporter v0.0.0-20250930111128-c8f6a9f4d363
  - github.com/prometheus/mysqld_exporter => github.com/grafana/mysqld_exporter v0.17.2-0.20250226152553-be612e3fdedd
  - github.com/prometheus/node_exporter => github.com/grafana/node_exporter v0.18.1-grafana-r01.0.20251024135609-318b01780c89
  - github.com/github/smimesign => github.com/grafana/smimesign v0.2.1-0.20220408144937-2a5adf3481d3
  - go.opentelemetry.io/ebpf-profiler => github.com/grafana/opentelemetry-ebpf-profiler v0.0.202537-0.20250916114748-f2ff2fc6048c
  - k8s.io/client-go => k8s.io/client-go v0.32.6
  - go.opentelemetry.io/obi => github.com/grafana/opentelemetry-ebpf-instrumentation v1.3.2
  - github.com/opencontainers/runc => github.com/opencontainers/runc v1.2.6
  - github.com/deneonet/benc => github.com/deneonet/benc v1.1.7
  - sigs.k8s.io/controller-runtime => sigs.k8s.io/controller-runtime v0.20.4
  - k8s.io/api => k8s.io/api v0.32.6
  - go.opentelemetry.io/collector/pdata/pprofile => go.opentelemetry.io/collector/pdata/pprofile v0.135.0
  - go.opentelemetry.io/collector/pdata => go.opentelemetry.io/collector/pdata v1.41.0
  - go.opentelemetry.io/collector/pdata/testdata => go.opentelemetry.io/collector/pdata/testdata v0.135.0
  - k8s.io/apimachinery => k8s.io/apimachinery v0.33.5
  - github.com/google/gnostic-models => github.com/google/gnostic-models v0.6.9
  - k8s.io/kube-openapi => k8s.io/kube-openapi v0.0.0-20250318190949-c8a335a9a2ff