name: Backport PR Creator
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          # Pin the version to before https://github.com/grafana/grafana-github-actions/pull/113 because
          # to avoid the strict rules for PR labels.
          ref: d284afd314ca3625c23595e9f62b52d215ead7ce
          persist-credentials: false
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          labelsToAdd: "backport"
          title: "[{{base}}] {{originalTitle}}"
