name: bump-formula-pr
on:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  homebrew-grafana:
    name: homebrew-grafana
    runs-on: ubuntu-latest
    # These permissions are needed to assume roles from Github's OIDC.
    permissions:
      contents: read
      id-token: write
    steps:
    # TODO: Remove this when we no longer need a forked action in the "Update Homebrew formula" step.
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - id: get-secrets
      uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
      with:
        repo_secrets: |
          ALLOYBOT_APP_ID=alloybot:app_id
          ALLOYBOT_PRIVATE_KEY=alloybot:private_key
        export_env: false

    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).ALLOYBOT_APP_ID }}
        private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).ALLOYBOT_PRIVATE_KEY }}
        owner: grafana
        repositories: alloy,homebrew-grafana

    - name: Get GitHub App
      env:
        APP_SLUG: ${{ steps.app-token.outputs.app-slug }}
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
      id: get-app
      run: |
        APP_ID="$(gh api "/apps/${APP_SLUG}" --jq .id)" || exit 1
        echo "app-id=${APP_ID}" >> "${GITHUB_OUTPUT}"
        echo "app-login=${APP_SLUG}[bot]" >> "${GITHUB_OUTPUT}"

    - name: Configure Git
      env:
        APP_ID: ${{ steps.get-app.outputs.app-id }}
        APP_LOGIN: ${{ steps.get-app.outputs.app-login }}
      run: |
        git config --global user.name "${APP_LOGIN}"
        git config --global user.email "${APP_ID}+${APP_LOGIN}@users.noreply.github.com"

    - name: Get latest release
      uses: rez0n/actions-github-release@794c12f5e8d629e6ca329cf2e2daeb0f0ce6a3ce # main
      id: latest_release
      with:
        token: ${{ steps.app-token.outputs.token }}
        repository: "${{ github.repository }}"
        type: "stable"

    - name: Update Homebrew formula
      if: 'steps.latest_release.outputs.release_id == github.event.release.id'
      # TODO: Use the upstream once they have this change:
      # https://github.com/dawidd6/action-homebrew-bump-formula/pull/90
      # uses: dawidd6/action-homebrew-bump-formula@v4
      uses: ./.github/actions/homebrew-bump-formula
      with:
        # Required, custom GitHub access token with the 'public_repo' and 'workflow' scopes
        token: ${{ steps.app-token.outputs.token }}
        # Optional, defaults to homebrew/core
        tap: grafana/grafana
        # Formula name, required
        formula: alloy
        # Optional, will be determined automatically
        tag: ${{github.ref}}
        # Optional, will be determined automatically
        revision: ${{github.sha}}
        # Optional, if don't want to check for already open PRs
        force: false # true
        user_name: grafana-alloybot[bot]
        user_email: 879451+grafana-alloybot[bot]@users.noreply.github.com
