name: bump-formula-pr
on:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  homebrew-grafana:
    name: homebrew-grafana
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    # TODO: Remove this when we no longer need a forked action in the "Update Homebrew formula" step.
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
      id: app-token
      with:
        app-id: ${{ secrets.ALLOYBOT_APP_ID }}
        private-key: ${{ secrets.ALLOYBOT_PRIVATE_KEY }}
        owner: grafana
        repositories: alloy,homebrew-grafana

    # These need to be hard-coded to the bot being used; ideally in the future
    # we can find a way to automatically determine this based on the token.
    - name: Setup Git
      run: |
        git config --global user.name "grafana-alloybot[bot]"
        git config --global user.email "879451+grafana-alloybot[bot]@users.noreply.github.com"

    - name: Get latest release
      uses: rez0n/actions-github-release@794c12f5e8d629e6ca329cf2e2daeb0f0ce6a3ce # main
      id: latest_release
      with:
        token: ${{ steps.app-token.outputs.token }}
        repository: "${{ github.repository }}"
        type: "stable"

    - name: Update Homebrew formula
      if: 'steps.latest_release.outputs.release_id == github.event.release.id'
      # TODO: Use the upstream once they have this change:
      # https://github.com/dawidd6/action-homebrew-bump-formula/pull/90
      # uses: dawidd6/action-homebrew-bump-formula@v4
      uses: ./.github/actions/homebrew-bump-formula
      with:
        # Required, custom GitHub access token with the 'public_repo' and 'workflow' scopes
        token: ${{ steps.app-token.outputs.token }}
        # Optional, defaults to homebrew/core
        tap: grafana/grafana
        # Formula name, required
        formula: alloy
        # Optional, will be determined automatically
        tag: ${{github.ref}}
        # Optional, will be determined automatically
        revision: ${{github.sha}}
        # Optional, if don't want to check for already open PRs
        force: false # true
        user_name: grafana-alloybot[bot]
        user_email: 879451+grafana-alloybot[bot]@users.noreply.github.com
