name: Check Windows build image

on:
  pull_request:
    paths:
      - 'tools/build-image/windows/**'

permissions:
  contents: read

jobs:
  check-windows-build-image:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Create test Windows build image
        uses: mr-smithers-excellent/docker-build-push@19d2beefef6bcdc202195fdcb9deb79a4fab5c1f # v6.8
        with:
          image: grafana/alloy-build-image
          tags: latest
          registry: docker.io
          pushImage: false
          dockerfile: ./tools/build-image/windows/Dockerfile
