name: Check Windows build image

on:
  pull_request:
    paths:
      - 'tools/build-image/windows/**'

jobs:
  check-windows-build-image:
    runs-on: windows-2019
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Create test Windows build image
        uses: mr-smithers-excellent/docker-build-push@v6.4
        with:
          image: grafana/alloy-build-image
          tags: latest
          registry: docker.io
          pushImage: false
          dockerfile: ./tools/build-image/windows/Dockerfile
