name: Check generate-module-dependencies
permissions:
  contents: read
on: pull_request

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: '1.25.x'

      - name: Run tests
        run: |
          cd tools/generate-module-dependencies
          go test -v .

      - name: Run generate-module-dependencies
        run: |
          make generate-module-dependencies

      - name: Check for go.mod changes
        run: |
          # List changed go.mod files (added/modified/deleted)
          CHANGED=$(git diff --name-only --ignore-all-space | grep -E '(^|/)go\.mod$' || true)

          if [ -n "$CHANGED" ]; then
            echo "::error::go.mod files are out of sync with generate-module-dependencies."
            echo "The following go.mod files changed:"
            echo "$CHANGED"
            echo
            echo "Diff:"
            git --no-pager diff -- $CHANGED || true
            echo
            echo "To fix locally:"
            echo "  Ensure that you update the dependency-replacements.yaml file and run make generate-module-dependencies"
            exit 1
          fi