name: Create build images
on:
  push:
    tags:
      - build-image/v*

permissions:
  contents: read
  id-token: write

jobs:
  linux_build_image:
    name: Create a Linux build image
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: false

    - name: Get version from Git tag
      env:
        FULL_TAG: ${{ github.ref_name }}
      id: get_image_version
      run: echo "image_tag=${FULL_TAG##*/}" >> $GITHUB_OUTPUT

    - name: Login to DockerHub (from vault)
      uses: grafana/shared-workflows/actions/dockerhub-login@dockerhub-login-v1.0.1

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3.4.0
      with:
        image: tonistiigi/binfmt:qemu-v7.0.0-28 # https://github.com/docker/setup-qemu-action/issues/198

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create Linux build image
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: ./tools/build-image
        tags: grafana/alloy-build-image:${{ steps.get_image_version.outputs.image_tag }}
        build-args: |
          GO_RUNTIME=golang:1.24.0-bullseye

  linux_build_image_boringcrypto:
    name: Create a Linux build image for boringcrypto
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: false

    - name: Get version from Git tag
      env:
        FULL_TAG: ${{ github.ref_name }}
      id: get_image_version
      run: echo "image_tag=${FULL_TAG##*/}-boringcrypto" >> $GITHUB_OUTPUT

    - name: Login to DockerHub (from vault)
      uses: grafana/shared-workflows/actions/dockerhub-login@dockerhub-login-v1.0.1

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3.4.0
      with:
        image: tonistiigi/binfmt:qemu-v7.0.0-28 # https://github.com/docker/setup-qemu-action/issues/198

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create Linux build image
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: ./tools/build-image
        tags: grafana/alloy-build-image:${{ steps.get_image_version.outputs.image_tag }}
        build-args: |
          GO_RUNTIME=mcr.microsoft.com/oss/go/microsoft/golang:1.24.0-bullseye
