name: Create build images
on:
  push:
    tags:
      - build-image/v*

permissions:
  contents: read
  id-token: write

jobs:
  linux_build_image:
    name: Create a Linux build image
    strategy:
      matrix:
        build:
          - runtime: golang:1.25.6-alpine3.23
          - runtime: mcr.microsoft.com/oss/go/microsoft/golang:1.25.6-bookworm
            suffix: "-boringcrypto"
    runs-on: ubuntu-latest-8-cores
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Remove unnecessary files
      run: |
          rm -rf /usr/share/dotnet
          rm -rf "$AGENT_TOOLSDIRECTORY"
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
          rm -rf /opt/hostedtoolcache

    - name: Get version from Git tag
      env:
        FULL_TAG: ${{ github.ref_name }}
      id: get_image_version
      run: echo "image_tag=${FULL_TAG##*/}${{ matrix.build.suffix }}" >> $GITHUB_OUTPUT

    - name: Login to DockerHub (from vault)
      uses: grafana/shared-workflows/actions/dockerhub-login@081a366728379fd0426b9cfef190e9a21c2d5418 # dockerhub-login/v1.0.3

    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Create Linux build image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        platforms: linux/amd64,linux/arm64
        context: ./tools/build-image
        push: true
        tags: grafana/alloy-build-image:${{ steps.get_image_version.outputs.image_tag }}
        build-args: |
          GO_RUNTIME=${{ matrix.build.runtime }}
