#
# TODO: Can this be removed in favor of renovatebot?
#
name: Check Dependencies
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Invoke action
        uses: rfratto/depcheck@95f3e3d75101f21e73363c928d500a222cf03572 # main
        with:
          github-token: ${{ secrets.MANAGE_ISSUES_GH_TOKEN }}
