name: Check Docker images

on:
  pull_request:
    paths:
      - Dockerfile
      - Dockerfile.windows
      - Makefile
      - 'tools/make/*'

permissions:
  contents: read

jobs:
  # NOTE(rfratto): We only test building the Docker images for the host
  # platform, but we're really only looking for issues that are
  # architecture-independent.
  linux:
    # We use a large runner for the additional disk space.
    runs-on: github-hosted-ubuntu-x64-large
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Build image
        run: |
          docker build -t alloy-test:latest -f Dockerfile .

  windows:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Build image
        run: |
          docker build -t alloy-test:latest -f Dockerfile.windows .
