name: Integration Tests
on:
  # Run tests on main just so the module and build cache can be saved and used
  # in PRs. This speeds up the time it takes to test PRs dramatically.
  # (More information on https://docs.github.com/en/enterprise-server@3.6/actions/using-workflows/caching-dependencies-to-speed-up-workflows)
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  run_tests:
    runs-on: github-hosted-ubuntu-x64-large
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
      with:
        go-version-file: go.mod
    - name: Run tests
      run: make integration-test-docker
