name: Integration Tests on Kubernetes
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  run_tests:
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
      with:
        go-version-file: go.mod
    - name: Run tests
      run: make integration-test-k8s
