name: Integration Tests on Kubernetes
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  run_tests:
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    steps:
    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
      with:
        go-version-file: go.mod
    - name: Run tests
      run: make integration-test-k8s
