name: Shared Windows container publish workflow

on:
  workflow_call:
    inputs:
      img-name:
        required: true
        type: string
      push:
        required: false
        type: boolean
        default: true
      dev:
        required: false
        type: boolean
        default: false
      pr-number:
        required: false
        type: string
        default: ""

permissions:
  contents: read
  id-token: write

jobs:
  publish_windows_container:
    name: Publish Alloy Windows container
    strategy:
      matrix:
        os: [windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      # This step needs to run before "Checkout code".
      # That's because it generates a new file.
      # We don't want this file to end up in the repo directory.
      # Then "tools/image-tag" would get confused because "git status" no longer reports a clean repo.
    - name: Login to DockerHub (from vault)
      uses: grafana/shared-workflows/actions/dockerhub-login@081a366728379fd0426b9cfef190e9a21c2d5418 # dockerhub-login/v1.0.3

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Tag dev
      if: ${{ inputs.dev }}
      run: |
        & "C:/Program Files/git/bin/bash.exe" -c './tools/tag-dev'

    - name: Set up Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
      with:
        go-version-file: go.mod
        cache: false

    - name: Get Go version from go.mod
      id: get_go_version
      # Use only the major and minor versions.
      # Don't use the patch number, because those docker images sometimes get deleted.
      run: |
        $go_version = go mod edit -json | ConvertFrom-Json | select -exp Go
        $go_version_split = $go_version.ToString().split(".")
        $go_short_version = $go_version_split[0] + "." + $go_version_split[1]
        "alloy_go_version=$go_short_version" >> $env:GITHUB_OUTPUT

    - name: Build and publish the container
      # TODO: Run "make alloy-image-windows" instead?
      run: |
        & "C:/Program Files/git/bin/bash.exe" -c 'PUSH_ALLOY_IMAGE=${SHOULD_PUSH_ALLOY_IMAGE} WINDOWS_VERSION=${{matrix.os}} ALLOY_GO_VERSION=${GO_VERSION} ./tools/ci/docker-containers-windows ${IMG_NAME}'
      env:
        SHOULD_PUSH_ALLOY_IMAGE: ${{ inputs.push }}
        IMG_NAME: ${{ inputs.img-name }}
        GO_VERSION: ${{ steps.get_go_version.outputs.alloy_go_version }}
        GITHUB_PR_NUMBER: ${{ inputs.pr-number }}
