name: Publish alloy release containers
on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  publish_linux_container:
    uses: ./.github/workflows/publish-alloy-linux.yml
    permissions:
      contents: read
      id-token: write
    with:
      img-name: alloy
  
  publish_linux_boringcrypto_container:
    uses: ./.github/workflows/publish-alloy-linux.yml
    permissions:
      contents: read
      id-token: write
    with:
      img-name: alloy-boringcrypto

  publish_windows_container:
    uses: ./.github/workflows/publish-alloy-windows.yml
    permissions:
      contents: read
      id-token: write
    with:
      img-name: alloy

  publish_github_release:
    name: Publish GitHub release
    container: grafana/alloy-build-image:v0.1.19@sha256:0b87a2b014ab4bed067bad00d10e9778e7e93d999bf1d46ef774e3568a7417a3
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    needs:
    - publish_linux_container
    - publish_linux_boringcrypto_container
    - publish_windows_container
    permissions:
      # THis workflow needs write access so it can create a draft GitHub release.
      contents: write
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Set ownership
      # https://github.com/actions/runner/issues/2033#issuecomment-1204205989
      run: |
          # this is to fix GIT not liking owner of the checkout dir
          chown -R $(id -u):$(id -g) $PWD

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version-file: go.mod
        cache: false

    - name: Publish
      # This step needs GITHUB_REF_NAME, 
      # the value of which only makes sense if the current ref is a tag.
      if: ${{ github.ref_type == 'tag' }}
      run: |
        RELEASE_BUILD=1 VERSION="${GITHUB_REF_NAME}" make -j4 dist
        VERSION="${GITHUB_REF_NAME}" RELEASE_DOC_TAG=$(echo "${GITHUB_REF_NAME}" | awk -F '.' '{print $1"."$2}') ./tools/release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}