name: Shared Linux container publish workflow

on:
  workflow_call:
    inputs:
      img-name:
        required: true
        type: string
      push:
        required: false
        type: boolean
        default: true
      dev:
        required: false
        type: boolean
        default: false
      pr-number:
        required: false
        type: string
        default: ""

permissions:
  contents: read
  id-token: write

jobs:
  publish_linux_container:
    name: Publish Alloy Linux container
    container: grafana/alloy-build-image:v0.1.26@sha256:54ef2371fc6b049d932c58d4622c88b573b45c393b7622fe6cca492ac4525dbe
    runs-on:
      labels: github-hosted-ubuntu-x64-large
    permissions:
      contents: read
      id-token: write
    steps:
      # This step needs to run before "Checkout code".
      # That's because it generates a new file.
      # We don't want this file to end up in the repo directory.
      # Then "tools/image-tag" would get confused because "git status" no longer reports a clean repo.
    - name: Login to DockerHub (from vault)
      uses: grafana/shared-workflows/actions/dockerhub-login@081a366728379fd0426b9cfef190e9a21c2d5418 # dockerhub-login/v1.0.3

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Tag dev
      if: ${{ inputs.dev }}
      run: |
        ./tools/tag-dev

    - name: Set ownership
      # https://github.com/actions/runner/issues/2033#issuecomment-1204205989
      run: |
          # this is to fix GIT not liking owner of the checkout dir
          chown -R $(id -u):$(id -g) $PWD

    - name: Set up Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
      with:
        go-version-file: go.mod
        cache: false

    - run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        docker buildx create --name multiarch-alloy-${IMG_NAME}-${GITHUB_SHA} --driver docker-container --use
        ./tools/ci/docker-containers ${IMG_NAME}
        docker buildx rm multiarch-alloy-${IMG_NAME}-${GITHUB_SHA}
      env:
        PUSH_ALLOY_IMAGE: ${{ inputs.push }}
        IMG_NAME: ${{ inputs.img-name }}
        GITHUB_PR_NUMBER: ${{ inputs.pr-number }}
