name: Snyk Monitor Scanning
on:
  release:
    types: [published]
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  snyk-scan-ci:
    uses: grafana/security-github-actions/.github/workflows/snyk_monitor.yml@b2c3d03db2e7d1a614092e1351922bd711a70bf1 # main
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
