name: Snyk Monitor Scanning
on:
  release:
    types: [published]
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  snyk-scan-ci:
    uses: grafana/security-github-actions/.github/workflows/snyk_monitor.yml@00b4cb4a0e18bb81ce2ee07e3a1fdbbb0d9aa05b # main
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
