name: Test (Windows)
on:
  pull_request:

permissions:
  contents: read

jobs:
  test_windows:
    name: Test (Windows)
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version-file: go.mod
        # TODO: Enable caching later.
        # We'll need to make sure the same cache is reused by the workflow to build Windows binaries.
        cache: false
    - name: Test
      run: '& "C:/Program Files/git/bin/bash.exe" -c ''go test -tags="nodocker,nonetwork,slicelabels"
        $(go list ./... | grep -v /integration-tests/)'''
