name: Test (Full)
on:
  push:
    branches:
      - main
jobs:
  test_linux:
    name: Test (Full)
    runs-on: ubuntu-latest
    container:
      image: grafana/alloy-build-image:v0.1.12
      volumes:
        - /var/run/docker.sock
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set ownership
      # https://github.com/actions/runner/issues/2033#issuecomment-1204205989
      run: |
          # this is to fix GIT not liking owner of the checkout dir
          chown -R $(id -u):$(id -g) $PWD
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        # TODO: Enable caching later.
        cache: false
    - run: K8S_USE_DOCKER_NETWORK=1 make test
